<h1>micro_Twitter</h1>
<p>Welcome to the rails micro twitter app</p>
<br>
<br>
<ul>
  <% @posts.each do |post| %>
    <li>
      <!-- <a href="<%= post_path(post)%>"><%=post.title%></a> -->
      <h4><%= link_to post.title, post %></h4>
    </li>
  <%end%>
</ul>
<br>
<br>
<h6><%= link_to "Create a new form", new_post_path %></h6>