<h1>micro_Twitter</h1>
<p>Welcome to the rails micro twitter app</p>
<br>
<br>
<ul>
  <% @posts.each do |post| %>
    <li>
      <!-- <a href="<%= post_path(post)%>"><%=post.title%></a> -->
      <h4><%= link_to post.title, post %></h4>
      <%# # if user_logged_in = post.user_id  %>
      <%# link_to "Edit post", edit_post_path(post) %>
      <% # button_to "Delete post", post_path(@ost), data{turbo.method:delete, turbo.confirm:"Are you sure?"} %>
      <% # end %>
    </li>
  <%end%>
</ul>
<br>
<br>
<h4><%= link_to "Create a new form", new_post_path %></h4>